git# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.crash.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variables (agar secrets hain)
terraform.tfvars

# Lock file (optional)
.terraform.lock.hcl